 div{
    background-color: lightblue;
    border: solid  black;
    border-radius: 10px;
    padding: 30px;
    margin: 50px;
    text-align: center;
    box-shadow: 10px 30px 40px;
 }

 ul{
    text-align: left;
 }